Link Trail: <%= link_to 'Issues', issues_path%>
<h1>Listing issues</h1>

<table>
  <tr>
    <th>Volume</th>
    <th>Name</th>
   
     <th>Options</th>
     <th></th>
      <th>Published</th>

  </tr>

  <% for issue in @issues %>
    <tr>
      <td width="100"><%=h issue.volume %></td>
      <td width="200"><%= link_to issue.name, issue %></td>
  

      <td width="55"><%= link_to 'Edit Name', edit_issue_path(issue) %></td>
      <td width="75"><%= link_to 'Delete', issue, :confirm => 'Are you sure?', :method => :delete %></td>
      <% unless @site_stat.current_issue_id == issue.id %>
      <td><%= link_to 'Publish', publish_issue_path(issue)  %></td>
      <% else %>
      <td><b><i>Current Issue</i></b></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New issue', new_issue_path %>
